.O_Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 300px;

    padding: var(--spacing-x8) var(--spacing-x4);

    background: var(--color-background-tertiary);
    border-radius: var(--border-radius-x8);
    border: 1px solid var(--color-border-primary);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.O_SidebarContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x3);

    width: 100%;
}

.O_SidebarLogoPlate {
    display: flex;
    align-items: center;

    padding: var(--spacing-x1) var(--spacing-x2);

    background: var(--color-tertiary);
    border-radius: var(--border-radius-x4);
    border: 1px solid var(--color-border-primary);
}

.O_SidebarLogoPlateText {
    color: var(--color-main-green);
}

.O_SidebarCTAPlate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-x3);

    padding: var(--spacing-x3);

    background: var(--color-primary);
    border-radius: var(--border-radius-x8);
    border: 1px solid var(--color-border-primary);
}

.O_SidebarCTAPlateText {
    color: var(--color-main-green);
}